<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Writelings</title>
</head>

  
<link rel="stylesheet" href="homepage.css">
<link rel="stylesheet" href="header.css">


<body>

    <header>

        {{> navbar}}

        <h1>My Homepage</h1>

    </header>

        <div class="page-selection">
        
            <button type="button" id="page-selection-button"><a href="/writinggallery">Writing Gallery</a></button>
            <button type="button" id="page-selection-button"><a href="/creature-collection">Creature Collection</a></button>
            <button type="button" id="page-selection-button"><a href="/egg-nursery">Egg Nursery</a> </button>

        </div>

</body>

</html>