<div class="navbar">
            <button type="button" id="nav-selection-button"><a href="/">Logout</a></button>
            <button type="button" id="nav-selection-button"><a href="/help-page">Help</a></button>
            <button type="button" id="nav-selection-button"><a href="/homepage">Home</a></button>
</div>